# Dependencies
node_modules
npm-debug.log*

# Next.js
.next/
out/

# Production
build

# Misc
.DS_Store
*.tgz
*.tar.gz

# Debug
*.log

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*

# IDE
.vscode
.idea

# OS
Thumbs.db

# Database
database/data/

# Cache
.cache
